@import './variables';

.loader {
  align-items: center;
  background-color: $color-bg;
  border-radius: 50%;
  box-shadow: 0 0 2rem $color-primary-1;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  
  .icon {
    animation: spin infinite 1.5s ease;
    color: $color-primary-0;
    display: inline-block;
    font-size: 5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}